.record__home__section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 760px) {
  .record__home__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

.record__home__description {
  flex-basis: 50%;
}

@keyframes recordHomeTitle {
  from {
    transform: translateY(-10000px);
  }
  to {
    transform: translateY(0);
  }
}

.record__home__title {
  animation: recordHomeTitle 1s ease-in-out;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

@keyframes recordHomeContent {
  from {
    transform: translateY(-10000px);
  }
  to {
    transform: translateY(0);
  }
}

.record__home__content {
  animation: recordHomeContent 1.5s ease-in-out;
}

@keyframes recordHomeImg {
  from {
    transform: translateX(10000px);
  }
  to {
    transform: translateX(0);
  }
}

.record__home__img {
  opacity: 0.6;
  animation: recordHomeImg 1s ease-in-out;
}

@keyframes recordHomeStar {
  from {
    transform: rotate(0);
    color: white;
  }

  to {
    transform: rotate(360deg);
    color: rgb(252, 235, 138);
  }
}

.star {
  margin-right: 5px;
  animation: recordHomeStar 2s linear infinite;
}

@keyframes recordHomeContentFooter {
  from {
    transform: translateY(-10000px);
  }
  to {
    transform: translateY(0);
  }
}

.record__home__content__footer {
  margin-top: 1rem;
  font-weight: bold;
  animation: recordHomeContentFooter 2s ease-in-out;
}
