.record__type__section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.record__type__title,
.record__type__impl,
.record__type__ul {
  text-align: center;
}

.imgBox {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.git {
  color: rgb(247, 147, 129);
  font-size: 1.5rem;
}
