.profile__body__imgForm__section {
  display: flex;
  flex-direction: column;
}

.profile__body__imgForm__imgBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__body__imgForm__default {
  border-radius: 10px;
}

.pen {
  position: absolute;
  font-size: 2rem;
  color: rgb(68, 67, 67);
  bottom: 10px;
  right: 10px;
}

.profile__body__imgForm__form {
  display: none;
}

.saved,
.cancel {
  position: absolute;
  color: white;
  font-size: 1.2rem;
  bottom: 10px;
  right: 10px;
}

.saved {
  left: 150px;
}
