@keyframes faceImg {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 0.7;
  }
}

.about__faceImg {
  animation: faceImg 0.8s ease-in-out;
  opacity: 0.7;
}

@keyframes greeting {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.about__greetingBox {
  animation: greeting 0.8s ease-in-out;
}

.about__greetingBox__title {
  margin-top: 1rem;
  font-size: 2rem;
}

.about__greetingBox__message {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.about__greetingBox__abbr {
  margin-left: 5px;
}

@keyframes readMoreArrow {
  from {
    transform: translateY(60px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.readMore {
  cursor: pointer;
  animation: readMoreArrow 3s ease-in-out;
}

@keyframes overview {
  from {
    transform: translateY(60px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.about__overview {
  margin-top: 2rem;
  animation: overview 0.8s ease-in-out;
  display: flex;
  flex-direction: column;
}

.about__overview__text {
  margin-top: 5px;
}
