.about__imgAndGreeting {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__greetingBox {
  margin-top: 1rem;
  text-align: center;
}

.about__greetingBox__title {
  font-size: 1rem;
}

.readMore {
  font-size: 1.3rem;
  margin-left: 5px;
}

.about__overview {
  margin: 1rem;
}
