.contact__body__li {
  margin-bottom: 5px;
}

.contact__body__text,
.contact__body__href {
  margin-left: 5px;
  font-size: 0.9rem;
}

.contact__body__href {
  color: rgb(247, 157, 141);
  font-weight: bold;
}
