.record__navi__ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.record__navi__li {
  margin: 0.8rem;
}

.record__navi__icon {
  font-size: 1.5rem;
  color: rgb(97, 95, 95);
}

.record__navi__img {
  border-radius: 5px;
}
