.profile__textForm__form {
  width: 250px;
}

.profile__textForm__displayName {
  margin-bottom: 1rem;
}

.profile__textForm__displayName,
.profile__textForm__message {
  color: white;
  font-size: 1.1rem;
  background: none;
  border: none;
  outline: none;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.profile__textForm__displayName::placeholder,
.profile__textForm__message::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
}

.profile__submit {
  display: none;
}

.save {
  margin-top: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.save:hover {
  color: rgb(248, 234, 152);
}
